<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>153999027805-5vaveuvctnnaott16mu18e62f40p1jjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153999027805-5vaveuvctnnaott16mu18e62f40p1jjq</string>
	<key>API_KEY</key>
	<string>AIzaSyDKYsQChSO2HzYuAfgetRn4z2d1UMyvzNw</string>
	<key>GCM_SENDER_ID</key>
	<string>153999027805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masa321.SexualMediaApp</string>
	<key>PROJECT_ID</key>
	<string>sexualhealthmedia-736f9</string>
	<key>STORAGE_BUCKET</key>
	<string>sexualhealthmedia-736f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153999027805:ios:9a9dd6be7d516452</string>
	<key>DATABASE_URL</key>
	<string>https://sexualhealthmedia-736f9.firebaseio.com</string>
</dict>
</plist>